@font-face {
  font-family: "rio-grande";
  src: url("fonts/rio-grande/RioGrande.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/game/img/10_backgrounds/desert-5_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: aliceblue;
  overflow: hidden; /* Hide scrollbars */
  font-family: "rio-grande", Helvetica, sans-serif;
}

h1 {
  font-size: 78px;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 80px;
}

.game-container {
  display: flex;
  flex-direction: column; /* Änderung hier */
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 480px;
}

.game-sizing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Optional: Abstand zwischen den Elementen */
}

canvas {
  background-color: #000;
  display: block;
  border-radius: 40px;
  border: solid 8px #1d1c1c;
  box-sizing: border-box;
}

.button-area-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.button-area-below {
  display: flex;
  justify-content: space-between; /* sorgt dafür, dass die Button-Gruppen auf gegenüberliegenden Seiten sind */
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.buttons-left,
.buttons-right {
  display: flex;
  flex-direction: row; /* vertikale Anordnung der Buttons in jeder Gruppe */
  justify-content: center;
  align-items: center;
}

.buttons-left .button:last-child,
.buttons-right .button:last-child {
  margin-right: 0;
}

.fullscreen-active .button-area-below {
  position: absolute;
  bottom: 0; /* oder einen festen Abstand vom unteren Rand, wenn nötig */
  left: 50%;
  transform: translateX(-50%); /* Zentriert die button-area-below horizontal */
  width: 720px; /* Breite entsprechend der ursprünglichen Größe des game-container */
  height: 480px;
}

.game-interaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #2b1800;
  border: solid 2px #ffe5c4;
  border-radius: 20px;
}

.material-symbols-outlined {
  font-size: 24px; /* Skaliert mit der Breite des Viewports */
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 1rem;
  z-index: 100;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 6px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 1px 5px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-game-action {
  display: flex;
  width: 36px; /* Feste Breite */
  height: 36px; /* Feste Höhe */
  justify-content: center;
  align-items: center;
  appearance: button;
  background-color: #915100;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 4px 7px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

.button-game-action:after {
  background-clip: padding-box;
  background-color: #ffa12b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-game-action:main,
.button-game-action:focus {
  user-select: auto;
}

.button-game-action:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-game-action:disabled {
  cursor: auto;
}

.button-game-action:active {
  border-width: 4px 0 0;
  background: none;
}

.info-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* Semi-transparenter Hintergrund */
  z-index: 2000; /* Stellen Sie sicher, dass es über dem Canvas angezeigt wird */
  border: solid 8px #1d1c1c;

  box-sizing: border-box;
  padding: 20px;
}

.desc-container {
  color: black;
}

.desc-image-text {
  display: flex;
  align-items: center;
}

.desc-image-text img {
  margin-right: 20px;
}

.close-btn {
  position: absolute;
  color: #000;
  left: 91%;
  top: 5%;
}

#close-info {
  font-size: 2.3rem;
  text-shadow: 1px 2px 1.5px #000;
}

.info-screen-content {
  color: #000;
}

.info-screen-content h1 {
  font-size: 3rem;
  text-align: center;
  color: #000;
  padding: 5px;
  margin: 10px;
}
.info-screen-content h3 {
  color: #000;
  text-align: center;
  font-size: 2rem;
}

.desc-content-align {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.story {
  color: #000;
  text-align: center;
}

.story p {
  padding: 0px 10% 0 10%;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.story h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Responsive -------------- */

@media only screen and (max-height: 480px) {
  canvas,
  .game-container {
    height: 100vh; /* Volle Höhe des Viewports */
    max-height: 480px; /* Maximale Höhe */
  }
}

@media only screen and (max-width: 720px) {
  canvas,
  .game-container {
    width: 100%; /* Volle Breite */
    max-width: 720px; /* Maximale Breite */
  }

  .button-area-below,
  .button-area-top {
    width: 100%; /* Anpassung der Breite der Button-Container */
    padding: 0 10px; /* Optional: Padding für kleinere Bildschirme */
  }
}
